@import '../styles/media.css';


.layout {
  display: grid;
  grid-template-areas:
    'leftbar topbar'
    'leftbar main';
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  max-width: var(--layout-max-width);
  min-height: 100svh;
}

.main {
  grid-area: main;
}

.leftbar {
  display: grid;
  grid-area: leftbar;
  grid-template-rows: auto 1fr;
  max-height: 100svh;
  position: sticky;
  top: 0;
}

.nav {
  padding-block-start: var(--space-xl);
}

.topbar {
  grid-area: topbar;
}

.footer {
  grid-area: footer;
}

.desktopFooter {
  display: block;
}

.mobileFooter {
  display: none;
}

@media (--lg) {
  .layout {
    grid-template-areas:
      'topbar'
      'leftbar'
      'main'
      'footer';
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
  }

  .leftbar {
    align-items: start;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    min-height: auto;
    position: static;
  }

  .nav {
    padding-block-start: 0;
    justify-self: end;
  }

  .desktopFooter {
    display: none;
  }

  .mobileFooter {
    display: block;
  }
}